FastAPI==0.115.6
huggingface==0.0.1
huggingface-hub==0.26.5
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
sentence-transformers
chromadb==0.4.24
python-dotenv==1.0.0
PyYAML==6.0
uvicorn==0.22.0
pydantic==2.7.4
